<div class="recovery-pass">
    <div class="recovery-pass__header">
        <twitter-header [disableNav]="true"></twitter-header>
    </div>  
    <div class="recovery-pass__container container">
        <div class="recovery-pass__content-wrapper">
            <div class="recovery-pass__title-wrapper">
                <h3 class="recovery-pass__title">
                  Recovery <span class="recovery-pass__txt-spec">Password</span>
                </h3>
            </div>
            <div class="recovery-pass__data-wrapper">
                <ng-container *ngIf="!codeRecived">
                    <p class="recovery-pass__data-title">Email</p>
                    <p class="recovery-pass__desc">We want to make sure that this is really you.</p>
                    <div class="recovery-pass__input">
                        <mat-twitter-input
                            [label]="'Email'"
                            [placeholder]="'email@gmail.com'"
                            [input]="true"
                            [required]="true"
                            (valueChange)="getEmail($event)"
                            [textarea]="false">
                        </mat-twitter-input>
                    </div>
                </ng-container>
                <ng-container *ngIf="codeRecived">
                    <p class="recovery-pass__data-title">Verification Code</p>
                    <p class="recovery-pass__desc">We need to know if you got the right code.</p>
                    <div class="recovery-pass__input">
                        <mat-twitter-input
                            [label]="'Verification Code'"
                            [placeholder]="'Verification Code'"
                            [input]="false"
                            [numberType]="true"
                            (valueChange)="getCode($event)"
                            [required]="true"
                            [textarea]="false">
                        </mat-twitter-input>
                    </div>
                    <p class="recovery-pass__data-title">Password</p>
                    <p class="recovery-pass__desc">Don't worry, no one can see you password it's encrypted.</p>
                    <div class="recovery-pass__input">
                        <mat-twitter-input
                            [label]="'Password'"
                            [placeholder]="'Password'"
                            [input]="true"
                            [required]="true"
                            (valueChange)="getPassowrd($event)"
                            [type]="'password'"
                            [textarea]="false">
                        </mat-twitter-input>
                    </div>
                    <p class="recovery-pass__data-title">Repeat Password</p>
                    <p class="recovery-pass__desc">Don't worry, no one can see you password it's encrypted.</p>
                    <div class="recovery-pass__input">
                        <mat-twitter-input
                            [label]="'Repeat Password'"
                            [placeholder]="'Repeat Password'"
                            [input]="true"
                            [required]="true"
                            (valueChange)="getRepeatPassword($event)"
                            [type]="'password'"
                            [textarea]="false">
                        </mat-twitter-input>
                    </div>
                </ng-container>
            </div>
            <button *ngIf="codeRecived" class="recovery-pass__btn" type="submit" (click)="saveChanges()" [disabled]="!enableSave()" [ngClass]="{ 'disabled-btn' : !enableSave()}">Save Changes</button>
            <button *ngIf="!codeRecived" class="recovery-pass__btn" type="submit" (click)="sendCode()"  >Send Code</button>
        </div>
    </div>
    <twitter-toast-bar [message]="error.getValue()" [status]="'failure'" [duration]="2" *ngIf="error.getValue()"></twitter-toast-bar>
    <twitter-toast-bar [message]="success.getValue()" [status]="'success'" [duration]="2" *ngIf="success.getValue()"></twitter-toast-bar>
    <div class="recovery-pass__footer">
        <twitter-footer></twitter-footer>
    </div>
</div>