<div class="progress__wrapper">
    <div class="progress__center">
        <div class="progress-img__wrapper">
            <img src="../../../assets/logo/twitter-logo.png" alt="" class="progress__img">
        </div>
        <div class="progress">
            <div class="progress--progress">
                <span class="first"></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span class="last"></span>
            </div>
        </div>
    </div>
</div>