<div class="not-found">
    <div class="not-found__wrapper">
        <div>
            <div class="not-found__logo-wrapper">
                <img src="../../../assets/logo/twitter-logo.png" alt="">
            </div>
            <div class="not-found__info-wrapper">
                <p class="not-found__info">We need to inform you that we can't find page you are looking for...</p>
                <button class="not-found__btn" type="button" (click)="redirectUser()">Home</button>
            </div>
        </div>
    </div>
    <div class="not-found__footer">
        <twitter-footer></twitter-footer>
    </div>
</div>