::ng-deep snack-bar-container.green-snackbar {
    background: rgb(3, 154, 3) !important;
    color: white !important;
    margin-bottom: 70px !important;
}

::ng-deep snack-bar-container.red-snackbar {
    background: red !important;
    color: white !important;
    margin-bottom: 70px !important;
}

::ng-deep snack-bar-container.blue-snackbar {
    background: #1da1f2 !important;
    color: white !important;
    margin-bottom: 70px !important;
}