<div class="change-pass">
    <div class="change-pass__header">
        <twitter-header></twitter-header>
    </div>  
    <div class="change-pass__container container">
        <div class="change-pass__title-wrapper">
            <h3 class="change-pass__title">
              Change <span class="change-pass__txt-spec">Password</span>
            </h3>
        </div>
        <div class="change-pass__content-wrapper">
            <div class="change-pass__data-wrapper">
                <p class="change-pass__data-title">Current Password</p>
                <p class="change-pass__desc">Don't worry, no one can see you password it's encrypted.</p>
                <div class="change-pass__input">
                    <mat-twitter-input
                        [label]="'Current Password'"
                        [placeholder]="'Current Password'"
                        [input]="true"
                        [required]="true"
                        (valueChange)="getCurrentPassowrd($event)"
                        [type]="'password'"
                        [textarea]="false">
                    </mat-twitter-input>
                </div>
            </div>
            <div class="change-pass__data-wrapper">
                <p class="change-pass__data-title">New Password</p>
                <p class="change-pass__desc">Don't worry, no one can see you password it's encrypted.</p>
                <div class="change-pass__input">
                    <mat-twitter-input
                        [label]="'New Password'"
                        [placeholder]="'New Password'"
                        [input]="true"
                        [required]="true"
                        (valueChange)="getNewPassword($event)"
                        [type]="'password'"
                        [textarea]="false">
                    </mat-twitter-input>
                </div>
            </div>
            <button class="change-pass__btn" type="submit" (click)="saveChanges()" [disabled]="!enableSave()" [ngClass]="{ 'disabled-btn' : !enableSave()}">Save Changes</button>
        </div>
    <twitter-toast-bar [message]="error.getValue()" [status]="'failure'" [duration]="3" *ngIf="error.getValue()"></twitter-toast-bar>
    <twitter-toast-bar [message]="success.getValue()" [status]="'success'" [duration]="2" *ngIf="success.getValue()"></twitter-toast-bar>
    <div class="change-pass__footer">
        <twitter-footer></twitter-footer>
    </div>
</div>