@import "../../../sources/abstract/mixins";

.change-pass {
  margin-top: 180px;
}

.change-pass__content-wrapper {
  margin-top: 80px;
}

.change-pass__data-wrapper {
  margin-top: 50px;
}

.change-pass__title {
  font-size: 26px;
  color: white;
}

.change-pass__title-wrapper {
  @include center-flex-box;
}

.change-pass__txt-spec {
  color: #1da1f2;
  font-weight: bold;
}

.change-pass__data-avatar {
  display: block;
}

.change-pass__data-title {
  font-weight: bold;
  font-size: 17px;
}

.change-pass__desc {
  color: #5b5b5b;
  font-size: 14px;
  margin: 10px 0;
}

.change-pass__btn {
  margin-right: 20px;
  width: 500px;
  background: #1da1f2;
  color: white;
  border-radius: 2px;
  padding: 12px 0;
  font-size: 14px;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 100px;
  cursor: pointer;
  text-align: center;
  border: 1px solid #1da1f2;
  transition: 0.4s all ease;
}

.change-pass__btn:hover {
  transition: 0.4s all ease;
  background: white;
  color: #1da1f2;
}

.disabled-btn {
  pointer-events: none;
  opacity: 0.5;
  transition: 0.2s all ease-in-out;
}
