<div class="no-access">
    <div class="no-access__wrapper">
        <div>
            <div class="no-access__logo-wrapper">
                <img src="../../../assets/logo/twitter-logo.png" alt="">
            </div>
            <div class="no-access__info-wrapper">
                <p class="no-access__info">It looks like you don't have access for page you have searched...</p>
                <button class="no-access__btn" type="button" (click)="redirectUser()">Home</button>
            </div>
        </div>
    </div>
    <div class="no-access__footer">
        <twitter-footer></twitter-footer>
    </div>
</div>