<div class="recommend">
    <div class="recommend__container">
        <div class="recommend__wrapper">
            <div class="recommend__header-wrapper">
                <h4 class="recommend__header">Trends for you</h4>
            </div>
            <div class="recommend__data-wrapper">
                <div class="recommend__content-wrapper">
                    <div class="recommend__left-side">
                        <div class="recommend__user-info">
                            <span class="recommend__name">
                                Trending In Serbia
                            </span>
                            <span class="recommend__username">
                                Politics
                            </span>
                            <span class="recommend__tweets-number">
                                10 Tweets
                            </span>
                        </div>
                    </div>
                    <div class="recommend__right-side">
                        <button class="recommend__btn" type="button">Explore</button>
                    </div>
                </div>
                <div class="recommend__content-wrapper">
                    <div class="recommend__left-side">
                        <div class="recommend__user-info">
                            <span class="recommend__name">
                                Trending In Serbia
                            </span>
                            <span class="recommend__username">
                                Politics
                            </span>
                            <span class="recommend__tweets-number">
                                10 Tweets
                            </span>
                        </div>
                    </div>
                    <div class="recommend__right-side">
                        <button class="recommend__btn" type="button">Explore</button>
                    </div>
                </div>
                <div class="recommend__content-wrapper">
                    <div class="recommend__left-side">
                        <div class="recommend__user-info">
                            <span class="recommend__name">
                                Trending In Serbia
                            </span>
                            <span class="recommend__username">
                                Politics
                            </span>
                            <span class="recommend__tweets-number">
                                10 Tweets
                            </span>
                        </div>
                    </div>
                    <div class="recommend__right-side">
                        <button class="recommend__btn" type="button">Explore</button>
                    </div>
                </div>
                <div class="recommend__content-wrapper">
                    <div class="recommend__left-side">
                        <div class="recommend__user-info">
                            <span class="recommend__name">
                                Trending In Serbia
                            </span>
                            <span class="recommend__username">
                                Politics
                            </span>
                            <span class="recommend__tweets-number">
                                10 Tweets
                            </span>
                        </div>
                    </div>
                    <div class="recommend__right-side">
                        <button class="recommend__btn" type="button">Explore</button>
                    </div>
                </div>
                <div class="recommend__content-wrapper">
                    <div class="recommend__left-side">
                        <div class="recommend__user-info">
                            <span class="recommend__name">
                                Trending In Serbia
                            </span>
                            <span class="recommend__username">
                                Politics
                            </span>
                            <span class="recommend__tweets-number">
                                10 Tweets
                            </span>
                        </div>
                    </div>
                    <div class="recommend__right-side">
                        <button class="recommend__btn" type="button">Explore</button>
                    </div>
                </div>
                <div class="recommend__content-wrapper">
                    <div class="recommend__left-side">
                        <div class="recommend__user-info">
                            <span class="recommend__name">
                                Trending In Serbia
                            </span>
                            <span class="recommend__username">
                                Politics
                            </span>
                            <span class="recommend__tweets-number">
                                10 Tweets
                            </span>
                        </div>
                    </div>
                    <div class="recommend__right-side">
                        <button class="recommend__btn" type="button">Explore</button>
                    </div>
                </div>
                <div class="recommend__content-wrapper">
                    <div class="recommend__left-side">
                        <div class="recommend__user-info">
                            <span class="recommend__name">
                                Trending In Serbia
                            </span>
                            <span class="recommend__username">
                                Politics
                            </span>
                            <span class="recommend__tweets-number">
                                10 Tweets
                            </span>
                        </div>
                    </div>
                    <div class="recommend__right-side">
                        <button class="recommend__btn" type="button">Explore</button>
                    </div>
                </div>
                <div class="recommend__content-wrapper">
                    <div class="recommend__left-side">
                        <div class="recommend__user-info">
                            <span class="recommend__name">
                                Trending In Serbia
                            </span>
                            <span class="recommend__username">
                                Politics
                            </span>
                            <span class="recommend__tweets-number">
                                10 Tweets
                            </span>
                        </div>
                    </div>
                    <div class="recommend__right-side">
                        <button class="recommend__btn" type="button">Explore</button>
                    </div>
                </div>
                <div class="recommend__content-wrapper">
                    <div class="recommend__left-side">
                        <div class="recommend__user-info">
                            <span class="recommend__name">
                                Trending In Serbia
                            </span>
                            <span class="recommend__username">
                                Politics
                            </span>
                            <span class="recommend__tweets-number">
                                10 Tweets
                            </span>
                        </div>
                    </div>
                    <div class="recommend__right-side">
                        <button class="recommend__btn" type="button">Explore</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>